*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-color: #000000;
    overflow-x: hidden;
}

p {
    color: #87cefa;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

.learnmore{
    margin-top: 50px;
    color: #87cefa;
    margin-left: 850px;
}

img{
    margin-left: 700px;
    border-radius: 120px;
    box-shadow: 0 0 10px #87cefa;
    margin-right: 700px;
}

section a .button{
    margin: 1px 0;
}
section a .button button{
    outline: none;
    width: fit-content;
    border-radius: 10px;
    padding: 1px 20px;
    border-radius: 4px;
    font-size: 100%;
    font-weight: 400;
    background: #87cefa;
    color: #ffffff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}
section a .button button:hover{
    border-color: #87cefa;
    background-color: #f1f1f1;
    color: #87cefa;
}